* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(245,246,247);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    position: fixed; 
    z-index: 1;
    background-color: rgb(245,246,247);
}

header i {
    font-size: 30px;
    padding: 0;
    height: 60px;
}

header .menu .menu-list {
    display: flex;
    height: 60px;
    position: initial;
    align-items: center;
    padding-top: 10px;
}

.menu .menu-list li {
    list-style: none;
    margin:0 2vw;
}

.menu-list li a {
    text-decoration: none;
    color: #000;
}

/* styling main content */
main {
    height: 100%; 
    width: 100%;   
    position: relative;
    padding-top: 9vh;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    /* overflow: hidden; */
}

#home {
    padding: 80px 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#home h2 {
    text-align: center;
    font-size: 50px;
}

#home .content {
    display: flex;
    padding: 40px;
}

.content img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-right: 30px;
}

.home-paragraph span {
    font-size: 50px;
    text-align: center; 
}

.paragraph-title {
    font-size: 70px;
    margin-bottom: 20px;
}

#home #btn-more {
    margin-top: 20px;
    height: 50px;
    width: 20%;
    font-size: 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    color: #fff;
    border: none;
}

/* styling section resume */
#resume {
    height: 100%;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#resume #resume-holder {
    border: 1px solid black;
    width: 70%;   
}

#resume #resume-holder::before

#resume-holder #lists {
    content:'';
    width: 100%;
    border: 1px solid red;
    height: 100%;
    width: 3px;
    position: absolute;
}

#lists .item {
    width: 50%;
    border: 1px solid green;
    border-radius: 10px;
    list-style: none;
}

#lists .item:nth-child(odd){
    float: left;
    clear: right;
}

#lists .item:nth-child(even){
    float:right;
    clear: left;
}

