:root {
    --theme-color: rgb(26, 26, 26);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(245,246,247);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: hidden;
    scroll-margin: 20vh;
}

header {
    display: flex;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    position: fixed; 
    z-index: 1;
    background-color: rgb(245,246,247);
    margin-bottom: 11vh;
}

header i {
    font-size: 30px;
    padding: 0;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h3 {
    font-weight: 400;
}

header .menu .menu-list {
    display: flex;
    height: 60px;
    position: initial;
    align-items: center;
    padding-top: 10px;
}

.menu .menu-list li {
    list-style: none;
    margin:0 2vw;
    width: 30%;
}

.menu .menu-list li:hover {
    font-weight: 600;
   
}

.menu-list li a {
    text-decoration: none;
    color: #000;
}

/* styling main content */
main {
    height: 100vh; 
    width: 100%;   
    position: relative;
    padding-top: 9vh;
    box-sizing: border-box;
}

#home {
    padding: 80px 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 10vh;
}

#home h2 {
    text-align: center;
    font-size: 50px;
}

#home .content {
    display: flex;
    padding: 40px;
}

.content img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-right: 30px;
}

.home-paragraph span {
    font-size: 50px;
    text-align: center; 
}

.paragraph-title {
    font-size: 70px;
    margin-bottom: 20px;
}

#home #btn-more {
    margin-top: 20px;
    height: 50px;
    width: 20%;
    font-size: 20px;
    background-color: var(--theme-color);
    border-radius: 10px;
    color: #fff;
    border: none;
}

/* styling section resume */
#resume {
    scroll-margin-top: 9vh;
    height: 100%;
    /* margin-top: 9vh; */
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#resume h2 {
    font-size: 40px;
}

#resume #resume-holder {
    width: 70%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#resume #resume-holder #lists {
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    width: 100%;
    position: relative;
    left: -30px;
}

#resume #resume-holder #lists::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--theme-color);
    position: absolute;
    left: 50%;
    border-radius: 5px;
}

#resume #resume-holder #lists .item {
    background: linear-gradient( var(--theme-color), rgba(26,26,26,.9) );
    width: 45%;
    border-radius: 10px;
    position: relative;
    color: #fff;
    box-sizing: border-box;
}

#content-lists {
    position: relative;
    top: -4%;
}

#content-lists li {
    font-weight: 100;
}

#resume #resume-holder #lists .item:hover::before {
    box-shadow: 0px 0px 5px 2px var(--theme-color);
}

.item:nth-child(even) {
    align-self: flex-end;
    right: 3%;
}

.item:nth-child(even)::before, 
.item:nth-child(odd)::before  {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--theme-color);
    position: absolute;
    top: 40%;
    border-radius: 50%;
}

.item:nth-child(odd)::before {
    right: -10.25%;
}

.item:nth-child(even)::before {
    left: -9.75%;
}

.item .item-header {
    display: flex;
    gap: 2%;
    margin-top: 10px;
    padding-left: 2%;
    align-items: center;
    height: 30px;
}

.item-header p {
    height: 100%;
    line-height: 38px;
    position: relative;
    left: 10px;
    font-size: 17px;    
}

/* Projects section */
#projects {
    scroll-margin-top: 9vh;
    height: 91vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Contact section */
#contact {
    height: 91vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#contact svg {
    top: 0;
    height: 100%;
    width: 50%;
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    padding: 0 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    gap: 20px;
}

form h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

form input {
    height: 40px;
    width: 55%;
    border: 2px solid rgb( 50, 60, 70);
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
}

form button {
    width: 55%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: linear-gradient( rgb(50, 60, 70), var(--theme-color) );
}

form button:active {
    background: linear-gradient(  var(--theme-color), rgb(50, 60, 70) );
}

textarea {
    resize: none;
    border: 2px solid rgb( 50, 60, 70);
    padding: 15px;
    box-sizing: border-box;
    width: 55%;
    border-radius: 5px;
}